@import '../../variables';

.shared-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // Prevents background from spilling out
    margin-bottom: 5rem;
}

.background-svg {
    position: absolute;
    right: 0;
    height: auto;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    color: $white;
    font-size: 24px;
    text-align: center;
    z-index: 2;

    .title{
        font-size: $h2-line-height;
        padding-bottom: 1rem;
    }
    .description{
        font-size: $body-font-size;
        padding: 0 29rem;
    }
}
