@import '../../variables';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-desktop;
    color: $black;
    margin-bottom: 2rem;
  
    .logo img {
      width: 196px;
    }
  
    .menu {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li a {
        color: $black;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .dropdown-menu {
      position: absolute;
      top: 60px;
      right: 10px;
      background: $white;
      list-style: none;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      &.active {
        display: block; // Show when toggled
      }

      li a {
        color: $black;
        text-decoration: none;
        display: block;
        padding-bottom: 2px;
        font-size: 12px;
      }
    }
  }
  
//Tablet
  @media (max-width: $tablet) {
    .navbar {
      padding: $padding-tablet;
    }
  }

  // **Mobil**
  @media (max-width: $mobile) {
    .navbar {
      padding: $padding-mobile;
    }

    .menu-mobile {
      display: block; // Activează icon-ul hamburger
    }
  }