<nav class="navbar">
    <div class="logo">
      <img src="../../assets/images/shared/desktop/logo-dark.png" alt="Logo">
    </div>
  
    <!-- Meniu pentru desktop și tabletă -->
    <ul class="menu d-none d-md-flex">
      <li *ngFor="let item of menuItems">
        <a [href]="item.link">{{ item.label }}</a>
      </li>
    </ul>
  
    <!-- Meniu pentru mobil (hamburger icon) -->
    <div class="menu-mobile d-md-none">
      <img src="../../assets/images/shared/mobile/icon-hamburger.svg" (click)="toggleMenu()" alt="Menu">
    </div>
  
    <ul class="dropdown-menu" [class.active]="isMenuOpen">
      <li *ngFor="let item of menuItems">
        <a [href]="item.link">{{ item.label }}</a>
      </li>
    </ul>
  </nav>
  