@import '../../variables';

.shared-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // Prevents background from spilling out
    margin-bottom: 5rem;
}

.background-svg {
    position: absolute;
    right: 0;
    height: auto;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    color: $white;
    font-size: 24px;
    text-align: center;
    z-index: 2;

    .title{
        font-size: $h2-line-height;
        padding-bottom: 1rem;
    }
    .description{
        font-size: $body-font-size;
        padding: 0 29rem;
    }
}

.portfolio-section {
    .card {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .image img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  
    .details {
      padding: 15px;
      background-color: #FDF3F0;
      
      .title{
        text-transform: uppercase;
        padding: 1.5rem 0;
        color: $light-peach;
        font-size: $h3-font-size;
        font-weight: $font-weight-medium;
      }
      .description{
        padding-bottom: 1rem;
      }

      

      &:hover{
        background-color: $peach;
        color: $white;

        & .title{
          color: $white;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .overlay-text{
      .description{
        padding: 0;
      }
    }
  }


  
    // Tablet: Details next to the image
    @media (max-width: 1024px) {
      .overlay-text{
        .description{
          padding: 0 9rem;
        }
      }

      .card-tablet {
        display: flex;
        flex-direction: row !important; // Ensures horizontal layout
        align-items: center;
        text-align: left; // Overrides center alignment for details
        background-color: #FDF3F0;
      }
    
      .image {
        flex: 1; // Image takes half of the card width
      }
    
      .details {
        flex: 1; // Details take more space on the right
        text-align: left; // Aligns text properly
        text-align: center;
      }
    }

    @media (max-width: 768px) {
      .overlay-text{
        .description{
          padding: 0 2rem;
        }
      }
      .card-mobile {
        display: flex;
        flex-direction: column; // Ensures image is on top
        align-items: center;
        text-align: center;
        background-color: #FDF3F0;
      }
    
      .image {
        order: -1; // Puts the image above the text
      }
    
      .details {
        padding-top: 15px;
      }
    }