<div class="container">
  <div class="shared-section">
    <img class="background-svg" src="../../assets/images/web-design/desktop/bg-pattern-intro-web.svg"
      alt="Background Shape">
    <div class="overlay-text">
      <div class="title">Web design</div>
      <div class="description">We build websites that serve as powerful marketing tools and bring memorable brand
        experiences.</div>
    </div>
  </div>
  <app-portfolio-section [cards]="cards"></app-portfolio-section>
  
  <app-services-section [services]="services" [currentPage]="'web-design'">
  </app-services-section>
</div>