@import 'variables';

body{
    font-family: $font-family-base;

    .shared-section{
        background-color: $peach;
        height: 300px;
    }
}

.container {
    --bs-gutter-x: 0;
  }


  //Tablet
  @media (max-width: $tablet) {
    .container {
        max-width: 695px;
      }
  }