<div class="container">
    <div class="shared-section">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="shared-section-left">
                    <div class="shared-section-left-title">
                        Award-winning custom designs and digital branding solutions
                    </div>
                    <div class="shared-section-left-text">
                        With over 10 years in the industry, we are experienced in creating fully responsive websites,
                        app design,
                        and engaging brand experiences. Find out more about our services.
                    </div>
                    <div class="shared-section-left-button">
                        <button>Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="shared-section-right">
                    <img src="../../assets/images/home/desktop/image-hero-phone.png" alt="Phone Image" />
                </div>
            </div>
        </div>
        <div>
            <img class="circle-decoration" src="../../assets/images/home/desktop/bg-pattern-hero-home.svg"
                alt="circle" />
        </div>
    </div>
    <app-services-section [services]="services" [currentPage]="'home'">
    </app-services-section>
    <div class="strengths-section">
        <div class="row">
            <div class="col-lg-4" *ngFor="let strength of strengths">
                <div class="strength-wrapper">
                    <img class="background-svg" src="../../assets/images/shared/desktop/bg-pattern-small-circle.svg"
                        [style.transform]="strength.circleRotation" alt="Background Shape">
                    <div class="strength-card">
                        <img [src]="strength.image" [alt]="strength.name">
                        <div class="title">{{ strength.name }}</div>
                        <div class="description">{{ strength.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>