@import '../../variables';

.col-md-8 {
    display: flex;
    align-items: center;
    height: 100%; // Ensures stretching
}

.shared-section {
    height: 640px;
    padding: 0 7rem;
    margin-bottom: 2rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; // Ensures the image does not extend beyond the section

    &-left {
        display: flex; // Use flex instead of grid
        flex-direction: column; // Arrange items vertically
        justify-content: center; // Center vertically
        height: 100%;
        padding-right: 6rem;

        &-title {
            font-size: $h2-line-height;
            line-height: 3rem;
            letter-spacing: 0;
            padding-bottom: 2rem;
            padding-right: 3rem;
        }

        &-text{
            font-size: $body-font-size;
            line-height: 2rem;
            padding-right: 12rem;
            padding-bottom: 2rem;
        }

        &-button{
            button{
                text-transform: uppercase;
                padding: 0.7rem 1.5rem;
                border-radius: 10px;
                letter-spacing: 1px;
                font-size: 15px;
                border:none;
                &:hover {
                    background-color: $light-peach; // Schimbă culoarea la hover
                    color: $white;
                }
        
                &:active {
                    background-color: $light-peach; // Schimbă culoarea când e apăsat
                    transform: scale(0.95); // Creează un efect subtil de apăsare
                }
            }
        }
    }

    &-right{
        position: relative;
        display: flex;
        align-items: flex-end; // Push image to bottom
        justify-content: center;
        //clip-path: inset(-46px 36px -114px 34px);
        overflow: visible;
        //min-height: 100%; // Ensures section is large enough
        height: 100%;
        min-height: 640px;
        //margin-top: 2rem;

        img{
            position: absolute;
            bottom: -250px; // Moves it lower
            //right: 0;
            max-width: none; // Prevents unwanted resizing
        }
    }
    .circle-decoration {
        position: absolute;
        right: 0; // Push to the right edge
        top: 50%; // Center vertically inside `.shared-section`
        transform: translateY(-50%); // Fine-tune vertical alignment
        //width: 120px;
        //height: 120px;
    }
}

//Tablet
@media (max-width: $tablet) {
    .shared-section {
        height: auto;
        padding: 2.5rem 4rem;
        text-align: center;
        &-left {
            padding: 0;

            &-title{
                padding: 0;
                padding-bottom: 1.5rem;
            }
            &-text{
                padding: 0 4rem;
                margin-bottom: 1.5rem;
            }
        }
        &-right{
            min-height: 550px;
        }

        .circle-decoration {
            top: 30%;
            transform: translateY(-30%);
            margin-right: -4rem;
        }
    }
  }

  // **Mobil**
  @media (max-width: $mobile) {
    
    .shared-section {
        padding: 2.5rem 1rem;
        &-left {

            &-title{
                font-size: 32px;
            }
            &-text{
                font-size: 15px;
                padding: 0 1rem;
            }
        }
        &-right{
        }
    }
  }